body {
    background-color: #31363F;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure body takes up the full viewport height */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
}

#resolution-selector {
    margin-bottom: 20px;
}

#content {
    text-align: center;
    max-width: 100%; /* Limit maximum width of content */
    overflow: hidden; /* Hide overflowing content */
}

#content img {
    max-width: 20%; /* Limit maximum width of image */
    max-height: 20%; /* Limit maximum height of image */
    width: 2000px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
}