body {
    background-color: #31363F;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure body takes up the full viewport height */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
}

#resolution-selector {
    margin-bottom: 20px; /* Add some space between resolution selector and content */
}

#content {
    text-align: center;
}

#content img {
    width: 300px; /* Set a default width */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #content img {
        width: 80%; /* Set a width relative to the viewport width */
        max-width: 300px; /* Set a maximum width */
    }
}
